table.kennel
  tr
    td
      .pug
        img(src = pug.img, alt = 'here be pugs')
        .sunglasses
        a.cool-hat(href = '/', title = 'Moar pugs plz!')
      .permapug
        a(href = pug.url) Link to this pug