@import 'mixins'

html
  background #2d2d2d url('images/background.png')
  margin 0
  padding 0
  height 100%

body
  height 100%
  margin 0
  padding 0
  background-vignette(rgba(#000, 0.3))

  text-align center
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

.kennel
  width 100%
  height 100%

.pug
  display inline-block
  position relative

  img
    float left
    border-radius(10px)
    background rgba(#fff, 0.1) url('images/loading.gif') no-repeat center center
    box-shadow(1px 1px 5px rgba(#000, 0.5))
    min-height 50px
    min-width 50px

  .sunglasses
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    border-top 1px solid rgba(#fff, 0.2)
    border-left 1px solid rgba(#fff, 0.2)
    border-radius(10px)

  .cool-hat
    position absolute
    bottom 0
    right 0
    width 100%
    height 100%

    border-bottom 1px solid rgba(#000, 0.2)
    border-right 1px solid rgba(#000, 0.2)
    border-radius(10px)

.permapug
  margin 10px 0

  a
    color #555
    padding 5px 10px

    &:hover
      color #777

  .footer
    margin-top 20px
    color #444