border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow(shadow = 0 1px 3px rgba(0,0,0,.25))
  -webkit-box-shadow shadow
  -moz-box-shadow shadow
  box-shadow shadow

background-clip(clip)
  -webkit-background-clip: clip;
  -moz-background-clip: clip;
  background-clip: clip;

background-vignette(shade = rgba(#000, 1))
  background -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, shade 100%)
  background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, shade))
  background -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, shade 100%)
  background -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, shade 100%)
  background -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, shade 100%)
  background radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, shade 100%)